body{
  background-color: #f9f9f9;
}
.screen{
  display: flex;
}
.conteiner{
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 2rem;
}
.conteiner-card{
  width: 90%;
}
.content-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.body-modal{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top:  1rem;
  width: 100%;
}
.content-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}